html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


* {
    font-family: "degular", sans-serif; 
    font-style: normal; 
  }

body{
    font-size: 1.6rem;
    line-height: 1.8;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    display: block;
}


h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}

a{
    font-size: 2.6rem;
    color: #fff;
}

.divider {
    height: 0.5rem; 
    width: 5rem;
    background-color: var(--bs-black);
}